@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --cbackground: 0 0% 100%;
    --cforeground: 240 10% 3.9%;

    --ccard: 0 0% 100%;
    --ccard-foreground: 240 10% 3.9%;

    --cpopover: 0 0% 100%;
    --cpopover-foreground: 240 10% 3.9%;

    --cprimary: 240 5.9% 10%;
    --cprimary-foreground: 0 0% 98%;

    --csecondary: 240 4.8% 95.9%;
    --csecondary-foreground: 240 5.9% 10%;

    --cmuted: 240 4.8% 95.9%;
    --cmuted-foreground: 240 3.8% 46.1%;

    --caccent: 240 4.8% 95.9%;
    --caccent-foreground: 240 5.9% 10%;

    --cdestructive: 0 84.2% 60.2%;
    --cdestructive-foreground: 0 0% 98%;

    --cborder: 240 5.9% 90%;
    --cinput: 240 5.9% 90%;
    --cring: 240 10% 3.9%;

    --cradius: 0.5rem;
  }

  .dark {
    --cbackground: 240 10% 3.9%;
    --cforeground: 0 0% 98%;

    --ccard: 240 10% 3.9%;
    --ccard-foreground: 0 0% 98%;

    --cpopover: 240 10% 3.9%;
    --cpopover-foreground: 0 0% 98%;

    --cprimary: 0 0% 98%;
    --cprimary-foreground: 240 5.9% 10%;

    --csecondary: 240 3.7% 15.9%;
    --csecondary-foreground: 0 0% 98%;

    --cmuted: 240 3.7% 15.9%;
    --cmuted-foreground: 240 5% 64.9%;

    --caccent: 240 3.7% 15.9%;
    --caccent-foreground: 0 0% 98%;

    --cdestructive: 0 62.8% 30.6%;
    --cdestructive-foreground: 0 0% 98%;

    --cborder: 240 3.7% 15.9%;
    --cinput: 240 3.7% 15.9%;
    --cring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
